
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"></meta>

    <title>websocket</title>

</head>

<h4>

    使用redis订阅消息和websocket实现消息推送

</h4>

<br/>

<h5>收到的订阅消息：</h5>

<div id="message_id"></div>

</body>

<script type="text/javascript">

    var websocket = null;

    //当前浏览前是否支持websocket

    if ("WebSocket" in window) {
        var url = "ws://localhost:8086/websocket/server";
        websocket = new WebSocket(url);
    } else {
        alert("浏览器不支持websocket");
    }


    websocket.onopen = function (event) {
        setMessage("打开连接");
    }


    websocket.onclose = function (event) {
        setMessage("关闭连接");
    }


    websocket.onmessage = function (event) {
        setMessage(event.data);
    }


    websocket.onerror = function (event) {
        setMessage("连接异常");
    }


    //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。

    window.onbeforeunload = function () {
        closeWebsocket();
    }


    //关闭websocket

    function closeWebsocket() {
        //3代表已经关闭
        if (3 != websocket.readyState) {
            websocket.close();
        } else {
            alert("websocket之前已经关闭");
        }

    }

    //将消息显示在网页上

    function setMessage(message) {
        document.getElementById('message_id').innerHTML += message + '<br/>';
    }

</script>

</html>